$primary: #000;

$secondary: #2c3136;
$secondaryHover: #565b62;

$tertiary: #5d5d5d;
$tertiaryHover: #8c8c8c;

$gray-1: #666464;
$gray-1-hover: #8f8e8e;

$gray-2: #dbdbdbb7;
$gray-2-hover: #dbdbdb2d;
$gray-3: #1d1d1db6;

$font: #fff;